<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.diagnosis.diagnosis">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/health2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Home" />
        <activity android:name=".diagnosis" />
        <activity android:name=".Communication" />
        <activity android:name=".Assign" />
        <activity android:name=".alert" />
        <activity android:name=".ChatRoom" />
        <activity android:name=".previous" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCNBrYV9RM-bV8GoZzyucesphJKmkeN68I" />

        <receiver android:name=".SampleAlarmReceiver" />


        <activity android:name=".Medical_advices" />
        <activity android:name=".Dr_Home" />
        <activity android:name=".Appointments"></activity>
    </application>

</manifest>